
<div class="container d-block d-md-none" style="background-color: rgb(233, 156, 156);">
    <div class="row small pt-3 pb-2 text-center">
        <div class="col-6 pt-2 pb-2">
            <div><i class="fa fa-credit-card fa-2x" aria-hidden="true"></i></div>
            <div><strong>Pagamento facilitado</strong><br>Até {{maxParcelas}}x sem juros</div>
        </div>
        <div class="col-6 pt-2 pb-2">
            <div><i class="fa fa-diamond fa-2x" aria-hidden="true"></i></div>
            <div><strong>Produtos hipoalergênico</strong><br>Livres de níquel</div>
        </div>
        <div class="col-6 pt-2 pb-2">
            <div><i class="fa fa-calendar-check-o fa-2x" aria-hidden="true"></i></div>
            <div><strong>Garantia de 1 ano</strong><br>Para sua satisfação</div>
        </div>
        <div class="col-6 pt-2 pb-2">
            <div><i class="fa fa-shield fa-2x" aria-hidden="true"></i></div>
            <div><strong>Loja segura</strong><br>Compra tranquila</div>
        </div>
    </div>
</div>

<div class="container-fluid d-none d-md-block" style="background-color: rgb(233, 156, 156);">
    <div class="container">
        <div class="row pt-3 pb-2">
            <div class="col-12 col-md-3 pt-2 pb-1">
                <div class="pull-left text-center" style="width:22%"><i class="fa fa-credit-card fa-3x pr-2" aria-hidden="true"></i></div>
                <div class="pull-right" style="width:78%; font-size: 14px;"><strong>Pagamento facilitado</strong><br>Até {{maxParcelas}}x sem juros</div>
            </div>
            <div class="col-12 col-md-3 pt-2 pb-1">
                <div class="pull-left text-center" style="width:22%"><i class="fa fa-diamond fa-3x pr-2" aria-hidden="true"></i></div>
                <div class="pull-right" style="width:78%; font-size: 14px;"><strong>Produtos hipoalergênico</strong><br>Livres de níquel</div>
            </div>
            <div class="col-12 col-md-3 pt-2 pb-1">
                <div class="pull-left text-center" style="width:22%"><i class="fa fa-calendar-check-o fa-3x pr-2" aria-hidden="true"></i></div>
                <div class="pull-right" style="width:78%; font-size: 14px;"><strong>Garantia de 1 ano</strong><br>Para sua satisfação</div>
            </div>
            <div class="col-12 col-md-3 pt-2 pb-1">
                <div class="pull-left text-center" style="width:22%"><i class="fa fa-shield fa-3x pr-2" aria-hidden="true"></i></div>
                <div class="pull-right" style="width:78%; font-size: 14px;"><strong>Loja segura</strong><br>Compra tranquila</div>
            </div>
        </div>
    </div>
</div>