<button style="color: #17a2b8;" class="btn mr-3 p-0" (click)="open(content)">
  <i class="fa fa-shopping-cart fa-2x"></i>
  <span class="badge  badge-pill badge-warning align-top" style="right: 5px;">{{quantidadeDeItemsNoCart}}</span>
</button>

<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title"><span class="font-weight-light">Pedido: </span>{{ orderTotals | currency: "BRL" }}</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <div class="alert alert-warning" *ngIf="cartProducts.length === 0">Você não possui nenhum product em seu cart.</div>
        <div class="row clearfix box-hover px-2 pb-2 product" *ngIf="cartProducts.length > 0">
            <div class="pb-2 clearfix mb-3" *ngFor="let product of cartProducts; let i = index" style="border-bottom: 1px solid #e9ecef;">
                <div (click)="modal.dismiss()" style="width: 25%;" class="cursor-pointer float-left" [routerLink]="['product', product.id, product.slug]">
                    <img src="{{ product.images[0].src }}" class="img-fluid" height="auto" />
                </div>
                <div style="width: 75%;" class="cursor-pointer float-left clearfix">

                    <div class="box-info px-2">
                        <div class="mb-1" [routerLink]="['product', product.id, product.slug]" (click)="modal.dismiss()">
                            <h2 class="titulo">{{ product.name | uppercase }}</h2>

                            <div class="subtitulo">{{product.subtitle | uppercase}}</div>

                            <ul class="list-inline mt-1 mb-2">
                                <li class="list-inline-item" *ngIf="product.new_collection">
                                    <app-tag-new-two></app-tag-new-two>
                                </li>
                                <li class="list-inline-item" *ngIf="product.on_sale">
                                    <app-tag-sale-two [percDesconto]="(100 - (product.sale_price * 100) / product.regular_price) / 100 | percent"></app-tag-sale-two>
                                </li>
                            </ul>
                        </div>
                        <div class="float-left" style="width: 85%;" [routerLink]="['product', product.id, product.slug]" (click)="modal.dismiss()">

                            <div class="clearfix">
                                <div class="small float-left pr-2" *ngIf="product.on_sale">
                                  <s class="p">{{product.regular_price | currency: "BRL"}}</s></div>
                                <div class="small float-left">{{ product.sale_price | currency: "BRL" }}</div>
                              </div>

                              <div class="small" *ngIf="!product.on_sale">{{ product.price | currency: "BRL" }}</div>
                              <div class="preco-atual">ou <b>{{ this.maxInstallments }}x {{product.price / this.maxInstallments | currency: "BRL":true}}</b></div>

                        </div>
                        <div style="width: 15%;" class="text-right float-right">
                            <button class="btn btn-light" (click)="deleteFromCart(i)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="orderTotals > 0" class="text-center"><button class="btn btn-dark btn-block" (click)="modal.dismiss()" routerLink="/cart/detalhes">FINALIZAR COMPRA</button></div>
    </div>
</ng-template>
