<button style="color: #17a2b8;" class="btn mr-3 p-0" (click)="open(content)">
  <i class="fa fa-shopping-cart fa-2x"></i>
  <span class="badge  badge-pill badge-warning align-top" style="right: 5px;">{{quantidadeDeItemsNoCarrinho}}</span>
</button>

<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title"><span class="font-weight-light">Pedido: </span>{{ valorDoPedido | currency: "BRL" }}</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <div class="alert alert-warning" *ngIf="produtosCarrinho.length === 0">Você não possui nenhum produto em seu carrinho.</div>
        <div class="row clearfix box-hover px-2 pb-2 produto" *ngIf="produtosCarrinho.length > 0">
            <div class="pb-2 clearfix mb-3" *ngFor="let produto of produtosCarrinho; let i = index" style="border-bottom: 1px solid #e9ecef;">
                <div (click)="modal.dismiss()" style="width: 25%;" class="cursor-pointer float-left" [routerLink]="['produto', produto.id, produto.slug]">
                    <img src="{{ produto.images[0].src }}" class="img-fluid" height="auto" />
                </div>
                <div style="width: 75%;" class="cursor-pointer float-left clearfix">

                    <div class="box-info px-2">
                        <div class="mb-1" [routerLink]="['produto', produto.id, produto.slug]" (click)="modal.dismiss()">
                            <h2 class="titulo">{{ produto.name | uppercase }}</h2>

                            <div class="subtitulo">{{produto.subtitle | uppercase}}</div>

                            <ul class="list-inline mt-1 mb-2">
                                <li class="list-inline-item" *ngIf="produto.new_collection">
                                    <app-tag-lancamento-dois></app-tag-lancamento-dois>
                                </li>
                                <li class="list-inline-item" *ngIf="produto.on_sale">
                                    <app-tag-sale-dois [percDesconto]="(100 - (produto.sale_price * 100) / produto.regular_price) / 100 | percent"></app-tag-sale-dois>
                                </li>
                            </ul>
                        </div>
                        <div class="float-left" style="width: 85%;" [routerLink]="['produto', produto.id, produto.slug]" (click)="modal.dismiss()">

                            <div class="clearfix">
                                <div class="small float-left pr-2" *ngIf="produto.on_sale">
                                  <s class="p">{{produto.regular_price | currency: "BRL"}}</s></div>
                                <div class="small float-left">{{ produto.sale_price | currency: "BRL" }}</div>
                              </div>

                              <div class="small" *ngIf="!produto.on_sale">{{ produto.price | currency: "BRL" }}</div>
                              <div class="preco-atual">ou <b>{{ this.maxParcelas }}x {{produto.price / this.maxParcelas | currency: "BRL":true}}</b></div>
                              
                        </div>
                        <div style="width: 15%;" class="text-right float-right">
                            <button class="btn btn-light" (click)="excluirProdutoDoCarrinho(i)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="valorDoPedido > 0" class="text-center"><button class="btn btn-dark btn-block" (click)="modal.dismiss()" routerLink="/carrinho/detalhes">FINALIZAR COMPRA</button></div>
    </div>
</ng-template>