<div class="container pt-3">
    <h2>Política de Retorno (Troca e Devolução)</h2>

    <p>O código do consumidor assegura o direito de troca do product no caso de defeito ou desistência desde que ocorra em até 7 days após a entrega do mesmo. A NOME-DA-LOJA não arca com as despesas de recolhimento/postagem do product (incluindo embalagem) para
        a troca por opção ou arrependimento.</p>

    <p>Para trocar um product é necessário que você nos comunique através da nossa <a [routerLink]="['/contact-us']">Central de Atendimento</a>, informando o número do pedido, a data da compra e a referência do item que será trocado. O product deverá ser
        acondicionado adequadamente para devolução.</p>

    <p><b>Importante:</b> Só aceitamos devoluções depois de confirmada a comunicação com a NOME-DA-LOJA e dentro do prazo. Caso contrário, não aceitaremos a devolução e sua compra será reenviada sem consulta prévia. As despesas com frete serão reembolsadas somente
        nos casos de troca por defeito de fabricação do product.</p>

    <p>Não aceitamos products que tenham sido danificados (metais e pedras quebradas) pelo uso inadequado.</p>

    <p>Peças consideradas em garantia são:</p>
    <ul>
        <li>Com qualquer defeito de fabricação;</li>
        <li>Com desprendimento total ou parcial do folheado;</li>
        <li>Com rupturas ou rachaduras de fechos.</li>
    </ul>

    <p>As peças consideradas fora da garantia são:</p>

    <ul>
        <li>Escurecidas por sujeira;</li>
        <li>Quebradas;</li>
        <li>Incompletas;</li>
        <li>Arranhadas;</li>
        <li>Arrebentadas;</li>
        <li>Amassadas;</li>
        <li>Avermelhadas;</li>
        <li>Com pedras opacas ou leitosas;</li>
        <li>Por mau uso;</li>
        <li>Peças de encaixe;</li>
        <li>Desgastadas por uso constante;</li>
        <li>Desprendimento ou escurecimento de resina.</li>
    </ul>

    <p>Atenção: A NOME-DA-LOJA não se responsabiliza por erros na seleção do product por parte do cliente - tais como tamanhos de peças, cores e demais informações que vierem a comprometer o bom atendimento.</p>

    <p><b>Troca por defeito:</b> Nós asseguramos o direito de troca do product no caso de defeito em até 7 days após a entrega do mesmo. Após a análise e comprovação de que o product foi entregue com defeito, a NOME-DA-LOJA arca com as despesas de recolhimento/postagem
        do product para análise e reenvio de um novo product em perfeito estado para o cliente (caso esteja disponível em estoque e seja o desejo do cliente).</p>

    <p>Para solicitar a troca de um product que tenha sido enviado com defeito, é necessário que você nos comunique através da nossa <a [routerLink]="['/contact-us']">Central de Atendimento</a>, informando o número do pedido, a data da compra, fotos do
        defeito do product e a referência do item que será devolvido, realizando este procedimento imediatamente após o recebimento do mesmo. Nós iremos enviar o product para análise e caso não haja conserto, providenciaremos a troca pelo mesmo ou por
        um outro item de sua escolha, desde que seja o mesmo valor do product. Havendo diferença de valores entre os products, o cliente poderá optar pelo pagamento da diferença ou receber a diferença como crédito na loja. O prazo para análise é de 30
        days corridos, mas pode ser definido antes deste período.</p>

    <p><b>Troca por arrependimento:</b> Em caso de trocas por arrependimento, os custos de envio serão cobertos pelo cliente.</p>

    <h5>RESTITUIÇÃO DO VALOR PAGO</h5>

    <ul>
        <li>Se o product for devolvido nas condições descritas acima, a restituição do valor do product será feita de acordo com a forma de pagamento escolhida pelo cliente na hora da compra.</li>
        <li>Caso a compra seja feita em cartão de crédito, o estorno pode ocorrer com prazo de até duas faturas da data do cartão, após confirmação da devolução.</li>
        <li>Caso a compra seja feita em débito em conta, o estorno pode ocorrer com prazo de até dois days úteis, após confirmação da devolução.</li>
        <li>O prazo para restituição / estorno do valor pago inicia-se somente após o recebimento do product devolvido e análise de suas condições.</li>
    </ul>

</div>
