<div class="container pt-3">
    <h2>Termos de Serviço</h2>

    <p>A prestação de serviços da NOME-DA-LOJA está sujeita às condições listadas nesta página. Ao visitar o site ou comprar na <b>www.NOME-DA-LOJA.com.br</b>, você automaticamente aceita essas condições. Leia com cuidado essas condições, que detalham o que nossos usuários
        podem esperar de nós e o que esperamos de nossos usuários. Ao acessar qualquer seção do site <b>www.NOME-DA-LOJA.com.br</b>, você aceita o contrato vinculante e os termos estabelecidos abaixo.</p>


    <h5>Informações sobre o produto</h5>

    <p>As descrições dos produtos oferecidos pela NOME-DA-LOJA são as mais corretas possíveis. Se um produto vendido pela <b>www.NOME-DA-LOJA.com.br</b> não corresponder à descrição fornecida, solicitamos que o devolva sem uso e em perfeitas condições. Os produtos apresentados
        neste site podem ser encomendados e entregues somente dentro do Brasil, desde que seja uma área coberta pelos Correios ou Transportadoras parceiras.</p>

    <p>Alguns produtos possuem imagens meramente ilustrativas, para que os usuários possam ter ideia de tamanho ou detalhes dos produtos.</p>


    <h5>Cores dos produtos</h5>

    <p>A NOME-DA-LOJA tenta reproduzir e exibir com precisão as cores dos produtos, mas sabemos que as cores reais dos produtos estão sujeitas a pequenas variações por conta do seu monitor.</p>


    <h5>Ofertas e Promoções</h5>

    <p>As ofertas serão válidas durante determinado tempo ou enquanto houver estoque disponível. Todos os produtos estão sujeitos à disponibilidade de entrega.</p>




    <p>A NOME-DA-LOJA por meio destas políticas, regulamenta o uso dos serviços oferecidos no site <b>www.NOME-DA-LOJA.com.br</b> e dispõe sobre suas condições gerais aplicáveis à utilização dos produtos e serviços disponíveis. Ao acessar e/ou se cadastrar em nosso site,
        você automaticamente concorda com nossa <a [routerLink]="['/politica-de-privacidade']">Política de Privacidade</a> e nossos <b>Termos de Serviço</b>.</p>

    <p> Leia atentamente as informações abaixo e caso tenha qualquer dúvida, entre em contato com a nossa <a [routerLink]="['/fale-conosco']">Central de Atendimento</a>.</p>

    <h5>1. CADASTRO</h5>
    <p>Para comprar em nossa loja online e utilizar os serviços oferecidos pela NOME-DA-LOJA, você deve preencher um cadastro, o qual somente será confirmado após o preenchimento de todos os campos. Você deverá completar o formulário apenas com informações exatas,
        precisas e verdadeiras, assumindo o compromisso de atualizar seus dados pessoais sempre que houver alguma alteração.</p>

    <p>O cadastro em nosso site é totalmente gratuito.</p>

    <p>A NOME-DA-LOJA reserva-se o direito de, à sua discrição, recusar o serviço, encerrar contas, remover ou editar conteúdo e cancelar pedidos.</p>

    <h5>2. LOGIN E SENHA</h5>
    <p>Você escolherá um login (conta de e-mail) e senha, os quais serão utilizados toda vez que pretenda utilizar os serviços ofertados pela NOME-DA-LOJA.</p>

    <p>A senha de acesso é de sua exclusiva responsabilidade e deve ser mantida em segurança. A NOME-DA-LOJA não se responsabiliza pelo seu uso indevido, cabendo aos clientes a guarda e o sigilo da mesma.</p>

    <p>OBS: Se você esqueceu sua senha e está apresentando dificuldades para criar uma nova, entre em contato com nossa <a [routerLink]="['/fale-conosco']">Central de Atendimento</a> para podermos lhe ajudar.</p>

    <h5>3. PRIVACIDADE E SEGURANÇA</h5>
    <p>A segurança e a privacidade do cliente são compromissos da NOME-DA-LOJA. Empregamos diversas tecnologias disponíveis para garantir um processo seguro e confiável em todas as etapas de sua compra.</p>

    <p>Como parte de nossos procedimentos de proteção à fraude ou outros tipos de atividades não autorizadas, nossa equipe de atendimento ao cliente poderá entrar em contato para confirmar o seu pedido e solicitar documentos para comprovação da titularidade
        do proprietário do cartão. Nos reservamos o direito de cancelar uma compra, devido à suspeita de fraude, ou ante a resistência do cliente ao envio dos dados solicitados, algum ato ilícito, atividade ilegal ou de má fé.</p>

    <p>Importante: Nenhum funcionário está autorizado para entrar em contato e nome da NOME-DA-LOJA e solicitar seus dados de segurança do cartão de crédito ou débito, como parte do processo de verificação antifraude. Se tem dúvida entre em contato com a nossa
        <a [routerLink]="['/fale-conosco']">Central de Atendimento</a> para podermos lhe ajudar.</p>

    <h5>4. COMUNICAÇÃO</h5>
    <p> Ao se cadastrar no site, você automaticamente concorda em receber mensagens de e-mail ou mensagens em outros tipos de formatos, referentes a promoções e novidades do site. Você pode cancelar o recebimento clicando no link de cancelamento enviado ao
        final de todos os nossos e-mails.</p>

    <p>Caso tenha qualquer dúvida, entre em contato com a nossa equipe, através de nossa <a [routerLink]="['/fale-conosco']">Central de Atendimento</a></p>

    <h5>5. DIREITOS AUTORAIS</h5>
    <p>Todo o site, juntamente com seus produtos, designs, layout, fotos, textos e outros conteúdos são de propriedade da NOME-DA-LOJA ou a mesma possui autorização de uso. É estritamente proibido:</p>

    <ul>
        <li>a) copiar, distribuir ou divulgar qualquer material de nosso site, produtos e/ou serviços por qualquer meio, caso excepcional você tenha autorização para usá-lo;</li>
        <li>b) divulgar spam, correntes, ou outras formas de e-mail não solicitadas e não autorizada pela NOME-DA-LOJA.</li>
        <li>c) tentar interferir ou comprometer a integridade ou segurança de qualquer parte de nossas operações on-line;</li>
        <li>d) realizar fraudes ou ocultar a sua identidade;</li>
        <li>e) incluir o nome "NOME-DA-LOJA" em qualquer material, nome de domínio ou endereço eletrônico com qualquer finalidade, desde que não autorizado previamente pela equipe NOME-DA-LOJA.</li>
    </ul>

    <h5>6. DESCRIÇÕES DOS PRODUTOS</h5>
    <p>As descrições dos produtos disponibilizados no site são elaboradas da maneira mais correta e completa possível. Entretanto, na eventualidade da ocorrência de algum equívoco e, se o produto comprado não corresponder à descrição fornecida, solicitamos
        que entre em contato com a nossa equipe, através da nossa <a [routerLink]="['/fale-conosco']">Central de Atendimento</a>. Você poderá devolvê-lo, em até 07 (sete) dias úteis, após recebimento do produto, sem uso e em perfeitas condições, conforme
        nossa Política de Troca e Devolução.</p>

    <p>Todos os produtos possuem imagens fiéis, onde você pode ter uma ideia do tamanho, dimensão ou de composição da sua utilização. Assim mesmo pode ler as especificações e dimensões do produto para maior informação.</p>

    <p>As imagens dos produtos podem sofrer variações de cores em razão das configurações do monitor de cada usuário.</p>

    <p>Na dúvida quanto à descrição ou imagem de algum produto, entre em contato conosco.</p>

    <p>A NOME-DA-LOJA se reserva o direito de corrigir a qualquer tempo eventuais erros de texto, descrição e fotos dos produtos.</p>

    <h5>7. PREÇOS E ESTOQUES</h5>
    <p>A NOME-DA-LOJA trabalha com venda de produtos com estoque limitado, portanto todas as promoções e divulgações estão sujeitas à disponibilidade de estoque.</p>

    <p>As informações, preços e descontos estabelecidos neste site estão sujeitos a alterações sem aviso prévio.</p>

    <p>A NOME-DA-LOJA se reserva o direito de corrigir eventuais erros causados ao divulgar preços dos nossos produtos e não se compromete a vender o produto pelo preço ofertado.</p>

    <p>Nossos vouchers e cupons de desconto não são válidos na categoria OUTLET, assim como também não são cumulativos - permitindo ao cliente o uso de 1 (um) cupom/voucher por compra.</p>
    <p>A NOME-DA-LOJA se reserva no direito de em alguns casos disponibilizar apenas 1 uso de cupom por cpf.</p>

    <p>No momento de usar um voucher e/ou cupom de desconto assegure-se de ter usado e aplicado o cupom para garantir seu desconto ou brinde.</p>

    <p>A inclusão de um produto no "carrinho" não garante sua reserva. O produto somente estará reservado ao cliente após a finalização do pedido e aprovação pela operadora de cartão. A inclusão de um produto no "carrinho" não garante seu preço. Em caso
        de variação, prevalecerá o preço vigente na "finalização" da compra.</p>

    <p>Produtos em promoção NÃO serão trocados em nenhum caso.</p>

    <h5>8. FORMAS DE PAGAMENTO</h5>
    <p>Ao cadastrar-se no site <b>www.NOME-DA-LOJA.com.br</b> você concorda com os preços e condições de pagamento e que os mesmos estão sujeitos a alterações. O pagamento pode ser efetuado por meio de cartão de crédito, cartão de débito ou boleto bancário (através
        do interveniente pagador).</p>

    <p>Para efetuar o pagamento por meio de cartão de crédito é necessário inserir as informações do cartão no site para completar a transação (para obter detalhes sobre proteção dos dados pessoais, por favor, consulte a nossa <a [routerLink]="['/politica-de-privacidade']"
            routerLinkActive="router-link-active">Política de Privacidade</a>). Todas as informações pessoais são estritamente confidenciais e serão utilizadas apenas para concluir a sua compra.</p>

    <p>Caso tenha alguma dúvida sobre cobranças inválidas ou não autorizadas, entre em contato com a nossa equipe, através de nossa <a [routerLink]="['/fale-conosco']">Central de Atendimento</a></p>
</div>