

<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

    <!-- Footer Links -->
    <div class="container text-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4">

          <!-- Content -->
          <h5 class="text-uppercase mt-3 mb-4">NOME-DA-LOJA</h5>
          <p>TÍTULO-DA-LOJA</p>

            <ul class="list-unstyled">
                <li>
                  <a routerLink="/about-us">Sobre nós</a>
                </li>
                <li>
                  <a routerLink="/basic-care">Cuidados básicos</a>
                </li>
                <li>
                  <a routerLink="/product-tracking">Acompanhar product</a>
                </li>
                <li>
                  <a routerLink="/faq">Perguntas frequentes</a>
                </li>
                <li>
                  <a routerLink="/contact-us">Fale conosco</a>
                </li>
              </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4">

          <!-- Links -->
          <h5 class="text-uppercase mt-3 mb-4">Termos & Políticas</h5>

          <ul class="list-unstyled">
            <li>
              <a routerLink="/shipping-policy">Política de envio</a>
            </li>
            <li>
              <a routerLink="/return-policy">Política de retorno</a>
            </li>
            <li>
              <a routerLink="/privacy-policy">Política de privacidade</a>
            </li>
            <li>
              <a routerLink="/terms-of-service">Termos de serviço</a>
            </li>
          </ul>

          <app-footer-social-icons class="d-none d-sm-block"></app-footer-social-icons>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4">

          <app-newsletter-form></app-newsletter-form>

          <br>
          <app-footer-social-icons class="d-block d-sm-none"></app-footer-social-icons>

          <app-footer-payments></app-footer-payments>


        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->


    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 - Todos os direitos reservados</div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
