@import "../../../variables.scss";

.produto {
  background-color: #fff;

  .box {
    -webkit-box-shadow: 0px 0px 5px 2px rgba(194, 188, 194, 1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(194, 188, 194, 1);
    box-shadow: 0px 0px 5px 2px rgba(194, 188, 194, 1);
  }
  .box:hover {
    -webkit-box-shadow: 0px 0px 5px 2px rgba(173, 168, 173, 1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(173, 168, 173, 1);
    box-shadow: 0px 0px 5px 2px rgba(173, 168, 173, 1);
  }

  ul {
    position: absolute;
    right: 15px;
  }

  .box-info {
    height: 120px;
    text-align: left;
    padding: 10px;
    background-color: #fff;

    .titulo {
      font-size: 1rem;
      margin-bottom: 5px;
    }

    .subtitulo {
      font-size: 0.75rem;
      font-weight: 700;
      color: $produto-subtitulo-color;
    }

    .preco-atual {
      font-size: 1.2rem;
      font-weight: normal;
      color: $produto-preco-color;
    }
  }

  .box-buttons {
    padding: 0 10px 10px 10px;
  }
}

@media (max-width: 375px) {
  .produto {
    .box-info {
      height: 150px;

      .preco-atual {
        font-size: 1.05rem;
      }
    }
  }
}
