<div class="container pt-3">
    <h2>Política de Envio / Frete</h2>
    
    <p>Nossos produtos são enviados pelos Correios ou Transportadoras parceiras. O prazo para entrega dos produtos varia de acordo com região de entrega e segue conforme critérios dos Correios e Transportadoras parceiras.</p>
    
    <p>Você pode acompanhar o rastreio do seu produto através da nossa página <a [routerLink]="['/acompanhar-produto']" >Acompanhar Produto</a>.</p>

    <p>O pedido será processado (separado, embalado e enviado) em até 2 (dois) dias úteis após a confirmação do pagamento junto as instituições financeiras.</p>


    <p>Ao ser informado da data de entrega do seu pedido, é importante que você ou uma pessoa de sua confiança esteja no local para receber e assinar o protocolo de entrega da mercadoria.</p>

    <p>Após a 2ª (segunda) tentativa de entrega caso não haja alguém para receber, o pedido é devolvido para o nosso escritório. Para que o pedido seja enviado novamente, será cobrada uma taxa de frete para reenvio do produto. Caso aconteça esse tipo de situação com você, <a [routerLink]="['/fale-conosco']">entre em contato conosco</a> e informe o número do seu pedido. A taxa do frete paga no primeiro envio não é reembolsada, pois houveram duas tentativas de entrega sem sucesso.</p>    


    <h5>CUSTO COM FRETE</h5>

    <p>A NOME-DA-LOJA oferece diferentes modalidades de frete, atendendo à campanhas específicas veiculadas em nossa plataforma. As modalidades que atualmente oferecemos são:</p>

    <ul>
        <li>Frete Gratuito: Se esta é a campanha em vigor, podemos oferecer Frete Gratuito.</li>
        <li>Frete Único: Se esta é a campanha em vigor, podemos oferecer Frete Único, onde um valor específico de frete fixo é cobrado do cliente, independente do valor da compra e da região de entrega do produto.</li>
        <li>Frete a cargo do comprador: Se esta é a campanha em vigor, o frete do produto fica a cargo do comprador, e será calculado no momento da compra, com base no volume e preços aplicados pelos Correios e Transportadoras parceiras.</li>
    </ul>

    <p>Importante: Recomendamos agrupar os produtos em um pedido único. Não podemos agrupar dois pedidos distintos efetuados separadamente, assim as taxas de envio serão aplicadas a cada um deles.</p>
</div>