<div *ngIf="showTopBar">
    
    <!-- FRETE GRATIS -->
    <div *ngIf="tipoFreteDisponivel == 'frete-gratis'" class="text-center p-2 small w-100 bg-dark text-light rounded">
        <span style="font-weight: bold;"><u>FRETE GRÁTIS</u> POR TEMPO LIMITADO!</span>
    </div>
    <!--/ FRETE GRATIS -->

    <!-- VALOR MINIMO -->
    <div *ngIf="tipoFreteDisponivel == 'frete-valor-minimo' && valorPendenteFreteGratis <= 0" [ngClass]="{
        'pyro-show': showFireworks === true,
        'pyro-hide': showFireworks === false
        }" class="pyro rounded">
        <div class="before"></div>
        <div class="after"></div>
    </div>

    <div *ngIf="tipoFreteDisponivel == 'frete-valor-minimo'" class="text-center p-1 text-light rounded" [ngStyle]="{'background-color': (valorPendenteFreteGratis <= 0) ? '#00E676' : '#171717'}">
        <span>
        <span *ngIf="valorPendenteFreteGratis > 0">
            <span *ngIf="valorPendenteFreteGratis <=  freteGratisMinLimit">FALTAM <strong>{{valorPendenteFreteGratis | currency:'BRL'}}</strong> PARA FRETE GRÁTIS.</span>
        </span>
        <span style="font-weight: bold;" *ngIf="valorPendenteFreteGratis <= 0">PARABÉNS! FRETE GRATIS ATIVO!</span>
        </span>
    </div>
    <!--/ FRETE GRATIS -->
</div>