.blue.lighten-3 {
    background-color: #2196F3 !important;
}

.green.lighten-3 {
    background-color: #4CAF50 !important;
}
.red.lighten-3 {
    background-color: #F44336 !important;
}
.amber.lighten-3 {
    background-color: #ffc107 !important;
}

.blue.border-3 {
    border: 2px solid #2196F3;
}

.green.border-3 {
    border: 2px solid #4CAF50;
}
.red.border-3 {
    border: 2px solid #F44336;
}
.amber.border-3 {
    border: 2px solid #ffc107;
}

div.track-fab {
    position: absolute;
    right: .4rem;
    top: 2.2rem;
    font-weight: 400;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
}
.btn-floating {
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    background-color: #26a69a;
    border-radius: 50%;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    cursor: pointer;
    vertical-align: middle;
}
.btn, .btn-large, .btn-small, .btn-floating, .btn-large, .btn-small, .btn-flat {
    font-size: 14px;
    outline: 0;
}
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.white {
    background-color: #fff !important;
}

.btn-floating i {
    width: inherit;
    display: inline-block;
    text-align: center;
    color: lightslategray;
    font-size: 1.6rem;
    line-height: 40px;
}
.btn i, .btn-large i, .btn-small i, .btn-floating i, .btn-large i, .btn-small i, .btn-flat i {
    font-size: 1.3rem;
    line-height: inherit;
}
.blue-text {
    color: #2196F3 !important;
}
.green-text {
    color: #4CAF50 !important;
}
.red-text {
    color: #F44336 !important;
}
.amber-text {
    color: #ffc107 !important;
}
.mr-1 {
    margin-right: 1rem!important;
}